<div class="amazon-product-widget"
     data-entity-id='{{ entity_id }}'
     data-entity-type='{{ entity_type }}'
     data-field='{{ field }}'
     data-node-id="{{ node_id }}"
>
  {{ products }}
</div>